@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Press+Start+2P&family=VT323&display=swap");
@import url("https://fonts.cdnfonts.com/css/agustina");

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* scrollbar-color: #000 rgb(30, 30, 33); */
  background: var(--body-dark) !important;
  min-height: 100% !important;
  display: flex;
  flex-grow: 1;
  font-family: var(--ff-poppins);
}

.body-dark {
  background: var(--body-dark) !important;
}

.body-light {
  background: var(--body-light) !important;
}

.icon-box-light {
  position: relative;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background: var(--card-light);
  color: var(--eerie-black-1);
  box-shadow: var(--shadow-1);
  z-index: 1;
}

.icon-box-light::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--card-light);
  border-radius: inherit;
  z-index: -1;
}

.icon-box-dark {
  position: relative;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background: var(--border-gradient-onyx);
  color: var(--wheat-yellow);
  box-shadow: var(--shadow-1);
  z-index: 1;
}

.icon-box-dark::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--eerie-black-1);
  border-radius: inherit;
  z-index: -1;
}

.name-light {
  color: var(--eerie-black-2);
  font-size: var(--fs-1);
  font-weight: var(--fw-600);
  letter-spacing: -0.25px;
  margin-bottom: 10px;
}

.name-dark {
  color: var(--text-dark);
  font-size: var(--fs-1);
  font-weight: var(--fw-600);
  letter-spacing: -0.25px;
  margin-bottom: 10px;
}

.separator {
  height: 1px;
  background: var(--jet);
  margin: 16px;
}

.contacts-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  padding: 20px !important;
}

.contact-item {
  min-width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  overflow: hidden;
}

.title-light {
  color: var(--text-light);
  background: #EBDAC6;
  font-size: var(--fs-8);
  font-weight: var(--fw-300);
  width: max-content;
  padding: 3px 12px;
  border-radius: 8px;
  padding: 5px 18px;
  /* color: var(--light-gray); */
  font-size: var(--fs-7);
  font-weight: var(--fw-500);
  line-height: 1.4;
}

.title-dark {
  color: var(--text-dark);
  background: var(--onyx);
  font-size: var(--fs-8);
  font-weight: var(--fw-300);
  width: max-content;
  padding: 3px 12px;
  border-radius: 8px;
  padding: 5px 18px;
  /* color: var(--light-gray); */
  font-size: var(--fs-7);
  font-weight: var(--fw-500);
  line-height: 1.4;
}

.contact-info {
  max-width: calc(100% - 46px);
  width: calc(100% - 46px);
}

.contact-title-light {
  color: #05263B;
  font-size: var(--fs-8);
  text-transform: uppercase;
  margin-bottom: 2px;
  margin-top: 0px;
}

.contact-title-dark {
  color: var(--light-gray-70);
  font-size: var(--fs-8);
  text-transform: uppercase;
  margin-bottom: 2px;
  margin-top: 0px;
}

.contact-info-light :is(.contact-link, time, address) {
  color: var(--text-light);
  font-size: var(--fs-7);
}

.contact-info-light address {
  font-style: normal;
}

.contact-info-dark :is(.contact-link, time, address) {
  color: var(--text-dark);
  font-size: var(--fs-7);
}

.contact-info-dark address {
  font-style: normal;
}

#root {
  min-height: 100%;
  min-width: 100%;
}

html {
  min-height: 100%;
  display: flex;
}

#project {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.aaa {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#phaser-container {
  overflow: hidden;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.navbar-light {
  background-color: var(--card-light) !important;
}

.navbar-dark {
  background-color: var(--card-dark) !important;
}

.logo-name-light {
  color: var(--text-light);
  font-family: "Agustina", sans-serif;
  font-weight: 500;
  font-size: x-large;
}

.logo-name-dark {
  color: var(--text-dark);
  font-family: "Agustina", sans-serif;
  font-weight: 500;
  font-size: x-large;
}

#resume {
  display: flex;
  min-height: 100%;
  max-height: 100%;
}

#info {
  min-height: 100%;
  max-height: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
  border-radius: 20px;
  z-index: 1;
}

.info-light {
  background-color: var(--card-light);
  border: 0.1px solid #bdbdbd;
}

.info-dark {
  background-color: var(--card-dark);
  border: 0.1px solid rgb(40, 40, 43);
}

#content {
  min-height: 100%;
  max-height: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  z-index: 1;
  color: var(--light-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  line-height: 1.6;
}

.content-light {
  background-color: var(--card-light);
  border: 0.1px solid #bdbdbd;
}

.content-dark {
  background-color: var(--card-dark);
  border: 0.1px solid rgb(40, 40, 43);
}

.primary-tab-light {
  border-color: rgb(30, 30, 33) !important;
  color: rgb(30, 30, 33) !important;
}

.primary-tab-dark {
  color: "amber[50]" !important;
}

.secondary-tab-light {
  border-color: rgb(30, 30, 33) !important;
  color: rgb(30, 30, 33) !important;
  /* filter: invert(1); */
}

.secondary-tab-dark {
  color: "amber[50]" !important;
}

.social-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 4px;
  padding-left: 7px;
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
}

.social-item .social-link {
  filter: invert(0.5);
  width: 30px;
}

.social-item .social-link:hover {
  filter: invert(0);
}

.line {
  border-right: 1px solid var(--jet);
  width: 7px;
  min-height: 100%;
}

.invisible {
  display: none;
}

.sublist {
  display: flex;
  height: 140px;
}

.list {
  overflow: auto;
  animation: listOut ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  margin: 2% 4% 4%;
}

.text-light {
  color: var(--text-light);
  overflow: auto;
  /* animation: listOut ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: both; */
}

.text-dark {
  color: var(--text-dark);
  overflow: auto;
  /* animation: listOut ease 5s; 
  animation-iteration-count: 1;
  animation-fill-mode: both; */
}

.showcase-light {
  color: var(--text-light);
  overflow: auto;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  scrollbar-color: #000 rgb(30, 30, 33);
  animation: listOut ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.showcase-dark {
  color: var(--text-dark);
  overflow: auto;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  scrollbar-color: #000 rgb(30, 30, 33);
  animation: listOut ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.award-light {
  transition: all 0.2s ease-in-out;
  margin: 0.9%;
  min-width: 30%;
  border-radius: 3%;
  border: 1px solid var(--smoky-black);
  background: var(--border-gradient-cream);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: var(--eerie-black-1);
  box-shadow: var(--shadow-5);
  z-index: 1;
}

.award-light:hover {
  transform: scale(1.06);
}

.award-dark {
  transition: all 0.2s ease-in-out;
  margin: 0.9%;
  min-width: 30%;
  border-radius: 3%;
  border: 1px solid var(--smoky-black);
  background: var(--border-gradient-onyx);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: var(--wheat-yellow);
  box-shadow: var(--shadow-1);
  z-index: 1;
}

.award-dark:hover {
  transform: scale(1.06);
}

@keyframes listOut {
  0% {
    height: 0px;
  }
  100% {
    height: 65vh;
  }
}

.front {
  padding: 10px;
  padding-bottom: 0px;
  flex-basis: auto;
  min-height: 180px;
  min-width: 300px;
  max-height: 180px;
  max-width: 300px;
}

.back {
  padding: 10px;
  padding-bottom: 0px;
  flex-basis: auto;
  min-height: 180px;
  min-width: 300px;
  max-height: 180px;
  max-width: 300px;
}

.pointer {
  position: relative;
  min-height: 7px !important;
  width: 7px;
  top: 4px;
  left: 4px;
  background: var(--text-gradient-green);
  border-radius: 50%;
  display: inline-block;
  animation: pulsate ease 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  box-shadow: 0 0 0 4px var(--jet);
}

.oldPointer {
  margin-top: 2px;
  min-height: 7px !important;
  width: 7px;
  left: 4px;
  background: var(--text-gradient-yellow);
  border-radius: 50%;
  display: inline-block;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  box-shadow: 0 0 0 4px var(--jet);
  position: relative;
}

@keyframes pulsate {
  0% {
    opacity: 0.2;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.marquee {
  height: 50px;
  overflow: hidden;
  position: relative;
}
.marquee {
  font-size: 3em;
  color: limegreen;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  /* Starting position */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  /* Apply animation to this element */
  -moz-animation: example1 15s linear infinite;
  -webkit-animation: example1 15s linear infinite;
  animation: example1 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes example1 {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}
@-webkit-keyframes example1 {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes example1 {
  0% {
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%);
  }
}

/*TO CHECK LATER - NEW CSS*/

:root {
  /**
   * colors
   */

  /* gradient */

  --bg-gradient-onyx: linear-gradient(
    to bottom right,
    hsl(240, 1%, 25%) 3%,
    hsl(0, 0%, 19%) 97%
  );
  --border-gradient-cream: linear-gradient(
    to bottom right,
    hsl(24, 70%, 94%) 0%,
    hsl(25.7,53.8%,97.5%) 100%
  );
  --bg-gradient-jet: linear-gradient(
      to bottom right,
      hsla(240, 1%, 18%, 0.251) 0%,
      hsla(240, 2%, 11%, 0) 100%
    ),
    hsl(240, 2%, 13%);
  --bg-gradient-yellow-1: linear-gradient(
    to bottom right,
    hsl(45, 100%, 71%) 0%,
    hsla(36, 100%, 69%, 0) 50%
  );
  --bg-gradient-yellow-2: linear-gradient(
      135deg,
      hsla(45, 100%, 71%, 0.251) 0%,
      hsla(35, 100%, 68%, 0) 59.86%
    ),
    hsl(240, 2%, 13%);
  --border-gradient-onyx: linear-gradient(
    to bottom right,
    hsl(0, 0%, 25%) 0%,
    hsla(0, 0%, 25%, 0) 50%
  );
  --text-gradient-yellow: linear-gradient(
    to right,
    hsl(45, 100%, 72%),
    hsl(35, 100%, 68%)
  );
  --text-gradient-green: linear-gradient(
    to right,
    hsl(115, 100%, 72%),
    hsl(105, 100%, 68%)
  );

  /* solid */

  --jet: hsl(0, 0%, 22%);
  --onyx: hsl(240, 1%, 17%);
  --eerie-black-1: hsl(240, 2%, 13%);
  --eerie-black-2: hsl(240, 2%, 12%);
  --smoky-black: hsl(0, 0%, 7%);
  --white-1: hsl(0, 0%, 100%);
  --white-2: hsl(0, 0%, 98%);
  --orange-yellow-crayola: hsl(45, 100%, 72%);
  --wheat-yellow: hsla(48, 97%, 85%, 0.951);
  --vegas-gold: hsl(45, 100%, 81%);
  --light-gray: hsl(0, 0%, 84%);
  --light-gray-70: hsla(0, 0%, 84%, 0.7);
  --bittersweet-shimmer: hsl(0, 43%, 51%);

  /* New Color Sets DARK & LIGHT Modes*/
  /* DARK */
  --body-dark: hsl(0, 0%, 7%);
  --card-dark: hsl(240, 5%, 12%);
  --title-dark: hsl(46, 100%, 94%);
  --text-dark: hsl(0, 0%, 100%);


  --body-light: #CAB5A7;
  --card-light: #FCF8F5;
  --title-light: hsl(0, 0%, 7%);
  --text-light: hsl(0, 0%, 0%);

  /**
   * typography
   */

  /* font-family */
  --ff-poppins: "Poppins", sans-serif;

  /* font-size */
  --fs-1: 24px;
  --fs-2: 18px;
  --fs-3: 17px;
  --fs-4: 16px;
  --fs-5: 15px;
  --fs-6: 14px;
  --fs-7: 13px;
  --fs-8: 11px;

  /* font-weight */
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;

  /**
   * shadow
   */

  --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
  --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
  --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
  --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease-in-out;
}
